#build{ :class => @build.status }
  = partial(:build_info, :build => @build)

- unless @build.screenshots.empty?
  %ul#screenshots
    - @build.screenshots.each do |screenshot|
      - screenshot_url = "#{build_path(@build)}/#{screenshot}"
      %li
        %a{:href => screenshot_url}
          %img{:src => screenshot_url}

